:root {
	--Pale-blue: hsl(225, 100%, 94%);
	--Bright-blue: hsl(245, 75%, 52%);
	--Very-pale-blue: hsl(225, 100%, 98%);
	--Desaturated-blue: hsl(224, 23%, 55%);
	--Dark-blue: hsl(223, 47%, 23%);
}

@font-face {
	font-family: bold;
	src: url(../../assets/Fonts/Red_Hat_Text/static/RedHatText-Bold.ttf);
}

@font-face {
	font-family: light;
	src: url(../../assets/Fonts/Red_Hat_Text/static/RedHatText-Light.ttf);
}

@font-face {
	font-family: regular;
	src: url(../../assets/Fonts/Red_Hat_Text/static/RedHatText-Regular.ttf);
}