:root {
	--Pale-blue: hsl(225, 100%, 94%);
	--Bright-blue: hsl(245, 75%, 52%);
	--Very-pale-blue: hsl(225, 100%, 98%);
	--Desaturated-blue: hsl(224, 23%, 55%);
	--Dark-blue: hsl(223, 47%, 23%);
}

@font-face {
	font-family: bold;
	src: url(../../assets/Fonts/Red_Hat_Text/static/RedHatText-Bold.ttf);
}

@font-face {
	font-family: light;
	src: url(../../assets/Fonts/Red_Hat_Text/static/RedHatText-Light.ttf);
}

@font-face {
	font-family: regular;
	src: url(../../assets/Fonts/Red_Hat_Text/static/RedHatText-Regular.ttf);
}

main {
	display: flex;
	height: 100vh;
	background-color: var(--Pale-blue);
	justify-content: center;
	align-items: center;
	background-image: url(../images/pattern-background-desktop.svg);
	background-repeat: no-repeat;
}

.card {
	max-width: 400px;
	height: fit-content;
	background-color: white;
	border-radius: 10px;
}

.main-img {
	max-width: 400px;
	border-radius: 10px 10px 0px 0px;
}

.card-content {
	margin: 30px auto 0px;
}

.content-title {
	color: var(--Dark-blue);
	font-size: 18px;
	font-family: bold;
	text-align: center;
}

.content {
	font-size: 12px;
	color: var(--Desaturated-blue);
	font-family: light;
	text-align: center;
	margin-top: 20px;
	width: 215px;
	margin: 20px auto;

}

.song-box {
	position: relative;
	max-width: 300px;
	height: 70px;
	margin: 20px auto;
	background-color: var(--Very-pale-blue);
	border-radius: 10px;
}

.music-svg {
	background-color: var(--Pale-blue);
	border-radius: 50%;
	position: relative;
	top: 10px;
	left: 10px;
}

.box-content {
	position: absolute;
	bottom: 15px;
	left: 70px;
}

.song-name {
	color: var(--Dark-blue);
	font-family: bold;
}

.song-price {
	color: var(--Desaturated-blue);
	font-family: light;
}

.payment-background {
	max-width: 300px;
	margin: 20px auto;
	background-color: var(--Bright-blue);
	height: 40px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.payment {
	color: white;
	font-family: regular;
}

.cancel-bt-area {
	display: flex;
	justify-content: center;
	margin: 20px 0px;
}

.cancel {
	color: var(--Desaturated-blue);
	font-family: bold;
	font-size: 14px;
}